{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 36.47004,
    "longitude": 2.8277,
    "elevation": 0,
    "unit_system_v2": "us_customary",
    "location_name": "Home",
    "time_zone": "Africa/Algiers",
    "external_url": null,
    "internal_url": null,
    "currency": "DZD",
    "country": "DZ",
    "language": "en",
    "radius": 100
  }
}